@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    display: none; 
  }